<!DOCTYPE html>
<html>
<head>
  <title>Properties</title>
  <style>
    /* Add your CSS styles here */
    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    th {
      background-color: #f2f2f2;
    }

    .property {
      background-color: #ffffff;
    }

    .property:nth-child(even) {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
  <h1>Properties</h1>

  <%= render partial: 'properties_table', locals: { properties: @properties } %><br>  
  <a href="<%= new_property_path(auth_token: params[:auth_token]) %>"><button>Create New Property</button></a>
</body>
</html>
